* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  /*===== Colores =====*/
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

body {
  background-color: rgb(135, 208, 239, 0.2);
}

body > #root > #loginContainer {
  height: 80vh;
}

.space {
  height: 20px;
}

.tab_layout {
  width: 100%;
  height: 70px;
  background: linear-gradient(
    90deg,
    rgba(139, 199, 152, 1) 0%,
    rgba(147, 178, 184, 1) 25%,
    rgba(158, 149, 200, 1) 50%,
    rgba(149, 182, 222, 1) 75%,
    rgba(135, 208, 239, 1) 100%
  );
}

.tab_layout a img {
  padding: 15px 0;
  margin-left: 80px;
}

.body {
  margin: auto;
  height: 100%;
}

.register {
  background-color: white;
  width: 35%;
  height: fit-content;
  margin: auto;
  text-align: center;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 15px;
}

.register h2 {
  display: inline;
  font-size: 50px;
  color: #1ecd97;
}

.register hr {
  width: 30%;
  margin: 10px auto;
  height: 3px;
  border: none;
  background-color: #1ecd97;
}

.form_register {
  text-align: start;
}

.group {
  width: 100%;
  text-align: center;
  position: relative;
}

.group1 {
  margin-top: 50px;
}

.radio {
  width: 50%;
  display: inline;
  position: absolute;
  right: 1em;
  top: 10px;
}

.form__div {
  display: inline-block;
  width: 45%;
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
  margin-left: 10px;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
  background: none;
  z-index: 1;
  outline-color: #1ecd97;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.form__button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*Input focus move up label*/

.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  color: #1ecd97;
}

/*Input focus sticky top label*/

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/

.form__input:focus {
  border: 1.5px solid var(--first-color);
}

#label {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

#label input {
  position: absolute;
  left: -9999px;
}

#label input:checked + span {
  background-color: #d6d6e5;
}

#label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

#label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

#label span:hover {
  background-color: #d6d6e5;
}

#label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;

  box-shadow: inset 0 0 0 0.125em #00005c;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  font-family: American Typewriter, serif;
  margin-left: 10px;
  cursor: pointer;
  display: inline;
  font-size: 20px;
  opacity: 0.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
  background-color: #1ecd97;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 6.2px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.group {
  width: 100%;
  text-align: center;
  position: relative;
}

.invisible {
  visibility: hidden;
}

.select_gender {
  width: 90%;
  margin: 0 auto;
}

.select_gender p {
  display: inline;
  font-size: 25px;
  padding-bottom: 150px;
}

#submit_btn {
  width: 90%;
  margin: 0 auto;
  border: none;
  background-color: #1ecd97;
  padding: 15px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 1.25px 2.5px 10px #888888;
  transition: all 1s;
}

.toSignIn {
  padding: 1rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-family: Andale Mono, monospace;
}

.toSignIn a {
  color: rgb(30, 205, 151);
  font-weight: 900;
  text-decoration: none;
}
.toRegister {
  padding: 1rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-family: Andale Mono, monospace;
}
.login {
  width: 90%;
  text-align: left;
}

.toRegister a {
  color: rgb(30, 205, 151);
  font-weight: 900;
  text-decoration: none;
  transition: 0.2s all;
}

.toRegister:hover {
  opacity: 0.8;
}

#submit_btn:hover {
  background-color: rgba(30, 205, 151, 0.7);
}

.parapgraph {
  padding: 12px;
  font-size: 0.9rem;
  font-family: Andale Mono, monospace;
}

.parapgraph a {
  text-decoration: none;
  color: rgb(30, 205, 151);
}
.log hr {
  margin-bottom: 25px;
}

.log {
  margin-top: 100px;
}

@media only screen and (max-width: 1400px) {
  .form__div {
    width: 90%;
    height: 48px;
  }
  .radio {
    width: 90%;
    position: relative;
  }
  .invisible {
    display: none;
  }

  .register {
    width: 45%;
  }
  .log {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1000px) {
  .register {
    width: 50%;
    margin: 30px auto;
  }
  .log {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .register {
    width: 70%;
    margin: 20px auto;
  }
  .log {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 14px;
  }
  .register {
    width: 80%;
    margin: 10px auto;
  }
  .register h2 {
    font-size: 40px;
  }
  .register hr {
    width: 45%;
  }
  .group1 {
    margin-top: 20px;
  }
  #submit_btn {
    margin-top: 20px;
  }
  .form__div {
    margin-bottom: 0.8rem;
  }
  .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -0.2rem;
  }
  .log {
    margin-top: 30px;
  }
}
